body {
    padding-top:102px;
}

.second-navbar {
    top:51px;
}

.red {
    color: red;
}
.purple{
    color:purple;
}

.navbar-brand{
    padding-top:0;
}

.selected-picture{
    background-color:#44CC8A;
}

.normal-picture{
    background-color:#EBEBEB;
}

.picPreview{
    max-width:100%;
}

.mapSelection:hover{
    cursor: pointer;
}

.advPic{
    cursor:pointer;
    width:150px;
    height:100px;
    margin:10px auto;
}