<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  
<head>
  <link href="/www/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  

</head>

<body>
<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header" >
    <a class="navbar-brand" href="/"> Main page </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">IRC</a></li>
      <!--li><a href="/forum">Forum</a></li-->
    </ul>
  </div>
</nav>
</div>

<div class="container">
  <div id="IRC">
    <iframe src="https://kiwiirc.com/client/irc.nomadiclogs.com/?nick=nomad|?#nomads" style="border:0; width:100%; height:450px;"></iframe>
  </div>
</div>

<script src="/www/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

<!--script src="/js/jquery/jquery-2.1.1.js"> </script>
<script src="/js/bootstrap/js/bootstrap.min.js"> </script-->
</body>
</html>
