{% extends "profile-base.html" %}

{% block additionalCSS %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" />

<!--angular-slick -->
<link rel="stylesheet" href="/www/node_modules/slick-carousel/slick/slick.css" />
<link rel="stylesheet" href="/www/node_modules/slick-carousel/slick/slick-theme.css" />

{% endblock %}


{% block headerBar %}
<ul class="nav navbar-nav">
  <li ng-class="isAdvsPageActive()"><a ui-sref="advSelect">Adventures</a></li>
  <li ng-cloak><p class="navbar-text">{% verbatim %}{{ currentAdvName }}{% endverbatim %}</p></li>
</ul>
{% block loginNav %}
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/auth/login">Login</a>
  </li>
  <li>
    <a href="/auth/register">Register</a>
  </li>
</ul>
{% endblock %}
{% endblock %}

{% block secondBar %}
<div class="navbar navbar-default navbar-fixed-top second-navbar" ng-show="adventures.length>0">
  <div class="container">
    <div class="collapse navbar-collapse main-nav">
      <ul class="nav navbar-nav">
	<li ng-class="isMapsPageActive()"><a ui-sref="maps({advId: currentAdvId, mapId:0})">Maps</a></li>
	<li ng-class="isBlogsPageActive()"><a ui-sref="blogs({advId: currentAdvId})">Blogs</a></li>
	<li ng-class="isGearPageActive()"><a ui-sref="gear({advId: currentAdvId})">Gear</a></li>	
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block additionalJS %}
<script src="/www/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/www/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>

<script src="/www/node_modules/moment/min/moment.min.js"></script>
<script src="/www/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="/www/node_modules/angular-slick-carousel/dist/angular-slick.js"></script>

<script src="/www/app/viewer/app.js"></script>
<script src="/www/app/viewer/routes.js"></script>
<script src="/www/app/viewer/shared/mainController.js"></script>
<script src="/www/app/viewer/components/advSelect/advController.js"></script>
<script src="/www/app/viewer/components/maps/mapsController.js"></script>
<script src="/www/app/viewer/components/maps/mapPicPreviewController.js"></script>
<script src="/www/app/viewer/components/blogs/blogsController.js"></script>
<script src="/www/app/viewer/components/gear/gearController.js"></script>

<!--script src="/www/js/viewer.min.js"></script-->

{% endblock %}
