{% extends "profile-base.html" %}

{% block additionalCSS %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" />
{% endblock %}


{% block headerBar %}
<ul class="nav navbar-nav">
  <li ng-class="isAdvsPageActive()"><a ui-sref="advSelect">Adventures</a></li>
  <li ng-cloak><p class="navbar-text">{% verbatim %}{{ currentAdvName }}{% endverbatim %}</p></li>
</ul>
{% block loginNav %}
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/auth/login">Login</a>
  </li>
  <li>
    <a href="/auth/register">Register</a>
  </li>
</ul>
{% endblock %}
{% endblock %}

{% block secondBar %}
<div class="navbar navbar-default navbar-fixed-top second-navbar" ng-show="adventures.length>0">
  <div class="container">
    <div class="collapse navbar-collapse main-nav">
      <ul class="nav navbar-nav">
	
	<li ng-class="isMapsPageActive()"><a ui-sref="maps({advId: currentAdvId})">Maps</a></li>
	<li ng-class="isBlogsPageActive()"><a ui-sref="#/{% verbatim %}{{ currentAdvId }}{% endverbatim %}/blogs">Blogs</a></li>
	<li ng-class="isGearPageActive()"><a ui-sref="#/{% verbatim %}{{ currentAdvId }}{% endverbatim %}/gear">Gear</a></li>
	
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block additionalJS %}
<script src="/www/app/viewer/app.js"></script>
<script src="/www/app/viewer/routes.js"></script>
<script src="/www/app/viewer/shared/profileController.js"></script>
<script src="/www/app/viewer/components/advSelect/advController.js"></script>
<script src="/www/app/viewer/components/maps/mapsController.js"></script>
{% endblock %}
