{% extends "profile-base.html" %}

{% block additionalCSS %}
<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" />

<link href="/www/node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet">

{% endblock %}

{% block headerBar %}

<ul class="nav navbar-nav">
  <li ng-class="isAdvEditorActive()"><a ui-sref="advEditor">Adventure Editor</a></li>
  <li ng-cloak><p class="navbar-text">{% verbatim %}{{ currentAdvName }}{% endverbatim %}</p></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/users/{{ user }}/#!/">View Profile</a>
  </li>
  <li>
    <a href="/auth/logout">Logout</a>
  </li>
</ul>

{% endblock %}


{% block secondBar %}
<div class="navbar navbar-default navbar-fixed-top second-navbar" ng-show="adventures.length>0">
  <div class="container">
    <div class="collapse navbar-collapse main-nav">
      
      <ul class="nav navbar-nav">
	
	<li ng-class="isMapEditorActive()">
	  <a ui-sref="mapsEditor({currentAdvId:currentAdvId})">Maps Editor</a>
	</li>
	<li ng-class="isBlogEditorActive()">
	  <a ui-sref="blogsEditor({currentAdvId:currentAdvId})">Blog Editor</a>
	</li>
	<li ng-class="isGearEditorActive()">
	  <a ui-sref="gearEditor({currentAdvId:currentAdvId})">Gear Editor</a>
	</li>
	
      </ul>
    </div>
  </div>
</div>

{% endblock %}


{% block additionalJS %}
<!-- leaflet -->
<script src="https://unpkg.com/leaflet@1.0.0/dist/leaflet.js"></script>
<script src="/www/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<script src="/www/node_modules/polylineEncoder/Polyline.encoded.js"></script>

<script src="/www/node_modules/moment/min/moment.min.js"></script>
<script src="/www/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="/www/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>


<script src="/www/js/editor.min.js"></script>

{% block jsVars %}
{% endblock %}

{% endblock %}
