{% extends "profile-base.html" %}

{% block additionalCSS %}
<link rel="stylesheet" href="/www/css/profile-editor.css" />

<link rel="stylesheet" href="/www/node_modules/leaflet/dist/leaflet.css" />

<link href="/www/node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet">


<link rel="stylesheet" href="/www/node_modules/slick-carousel/slick/slick.css" />
<link rel="stylesheet" href="/www/node_modules/slick-carousel/slick/slick-theme.css" />

<link rel="stylesheet" href="/www/node_modules/textangular/dist/textAngular.css" />

<link rel="stylesheet" href="/www/node_modules/jstree/dist/themes/default/style.min.css">

<link rel="stylesheet" href="/www/node_modules/taggd/dist/taggd.css">
<link rel="stylesheet" href="/www/node_modules/taggd/tests/manual/themes/taggd-classic.css">

{% endblock %}

{% block headerBar %}

<ul class="nav navbar-nav">
  <li ng-class="isAdvEditorActive()"><a ui-sref="advEditor">Adventure Editor</a></li>
  <li ng-cloak><p class="navbar-text"><b>{% verbatim %}{{ currentAdvName }}{% endverbatim %}</b></p></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/users/{{ user }}/#!/">View Profile</a>
  </li>
  <li>
    <a href="/auth/logout">Logout</a>
  </li>
</ul>

{% endblock %}


{% block secondBar %}
<div class="navbar navbar-default navbar-fixed-top second-navbar" ng-show="adventures.length>0">
  <div class="container">
    <div class="collapse navbar-collapse main-nav">
      
      <ul class="nav navbar-nav">
	
	<li ng-class="isMapEditorActive()">
	  <a ui-sref="mapsEditor({currentAdvId:currentAdvId})">Maps Editor</a>
	</li>
	<li ng-class="isPhotoEditorActive()">
	  <a ui-sref="photosEditor({currentAdvId:currentAdvId})">Photos Editor</a>
	</li>
	<li ng-class="isBlogEditorActive()">
	  <a ui-sref="blogsEditor({currentAdvId:currentAdvId})">Blog Editor</a>
	</li>
	<li ng-class="isGearEditorActive()">
	  <a ui-sref="gearEditor({currentAdvId:currentAdvId})">Gear Editor</a>
	</li>
	
      </ul>
    </div>
  </div>
</div>

{% endblock %}


{% block additionalJS %}

<!-- leaflet -->
<script src="/www/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/www/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<script src="/www/lib/polylineEncoder/Polyline.encoded.js"></script>

<script src="/www/node_modules/moment/min/moment.min.js"></script>
<script src="/www/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="/www/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

<script src="/www/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="/www/node_modules/angular-slick-carousel/dist/angular-slick.js"></script>

<script src="/www/node_modules/textangular/dist/textAngular-rangy.min.js"></script>
<script src="/www/node_modules/textangular/dist/textAngular-sanitize.min.js"></script>
<script src="/www/node_modules/textangular/dist/textAngular.min.js"></script>

<script src="/www/node_modules/jstree/dist/jstree.min.js"></script>
<script src="/www/node_modules/ng-js-tree/dist/ngJsTree.min.js"></script>

<script src="/www/node_modules/taggd/dist/taggd.min.js"></script>
<script src="/www/js/editor.min.js"></script>

{% block jsVars %}
{% endblock %}

{% endblock %}
