<div class="row">
  <div class="col-lg-3">
    <div ng-show="maps.length>0" ng-cloak>
      <h4>Maps:</h4>
      <ul class="list-group">
	<li class="list-group-item clearfix mapSelection" ng-repeat="map in maps" ng-class="{active:isMapActive($index)}" ng-click="selectMapClick($index)">
	  {{ map.name }}
	  <span class="pull-right">
	    {{ getMapDistance($index) }}Km
	    <button class="btn" ng-click="deleteMap($index); $event.stopPropagation();"><span class="glyphicon glyphicon-remove"></span></button>
	  </span>
	</li>
      </ul>
    </div>
    
    <div ng-cloak>
      <h4>New Map:</h4>
      <input class="form-control" placeholder="New Map Name" ng-model="newMapName" type="text">
      <button class="btn btn-primary" id="addMapButton" ng-click="createMap()" ng-show="newMapName.length">Create Map</button>
    </div>
    
    <ui-view>
    </ui-view>
  </div>
  
  <div class="col-lg-9">
    <leaflet style="width:100%;height:800px;" ng-show="maps.length"></leaflet>
    
  </div>
</div>

