<div ng-show="isSegmentsVisible()" ng-hide="isSegmentsHidden()" ng-cloak>
  <hr>
  <h4>New Segment:</h4>
  <!--- datetime pickers -->

  <!--this event propogation stop is needed for datetimepicker... -->
  <div class="wrapper" ng-click="$event.stopPropagation()">
    <div class="dropdown form-group">
      <label>Start Date:</label>      
      <div uib-dropdown class="row" is-open="isStartOpen" style="padding: 15px;">
	<a href>
	  <div class="input-group">
	    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" ng-class="{purple:startSet}"></i></span>
	    <input type="text" class="form-control" data-ng-model="$parent.dateRangeStart" uib-dropdown-toggle>
	    <span class="input-group-addon" uib-dropdown-toggle><i class="glyphicon glyphicon-calendar"></i></span>
	  </div>
	</a>
	<ul class="dropdown-menu" uib-dropdown-menu uib-dropdown-toggle>
	  <datetimepicker data-ng-model="dateRangeStart"
			  data-on-set-time="startDateOnSetTime()"/>
	</ul>
      </div>
      
    </div>
  </div>


  <label>Navigation Type:</label>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" ng-class="navActive==1 ? 'btn btn-primary' : 'btn btn-default'" ng-click="changeNav(1)"><i class="fa fa-arrows-h" style="font-size:32px"></i></button>
    <button type="button" ng-class="navActive==2 ? 'btn btn-primary' : 'btn btn-default'" ng-click="changeNav(2)"><i class="fa fa-bicycle" style="font-size:32px"></i></button>
    <button type="button" ng-class="navActive==3 ? 'btn btn-primary' : 'btn btn-default'" ng-click="changeNav(3)"><i class="fa fa-car" style="font-size:32px"></i></button>
  </div>
  <div ng-show="segmentDistance">
    Segment Distance : {{ getSegmentDistance() }}km
  </div>

   <!--this event propogation stop is needed for datetimepicker... -->
  <div class="wrapper" ng-click="$event.stopPropagation()">

    <div class="dropdown form-group">
      <label>End Date:</label>      
      <div uib-dropdown class="row" is-open="isEndOpen" style="padding: 15px;">
	<a href>
	  <div class="input-group">
	    <span class="input-group-addon" ng-click="deselectEndSet()"><i class="glyphicon glyphicon-map-marker" ng-class="{red:endSet}"></i></span>
	    <input type="text" class="form-control" data-ng-model="$parent.dateRangeEnd" uib-dropdown-toggle>
	    <span class="input-group-addon" uib-dropdown-toggle><i class="glyphicon glyphicon-calendar"></i></span>
	  </div>
	</a>
	<ul class="dropdown-menu" uib-dropdown-menu uib-dropdown-toggle>
	  <datetimepicker data-ng-model="dateRangeEnd"
			  data-on-set-time="endDateOnSetTime()"/>
	</ul>
      </div>
      
    </div>
  </div>
       
  <div class="form-group">
    <label for="dalaySelect">Delay:</label>
    <select class="selectpicker" id="delaySelect" ng-options="item as item.label for item in delayOptions track by item.value" ng-model="selectedDelayOption" ng-change="selectedDelayValue=selectedDelayOption.value">
    </select>
  </div>

  <h5>Day Notes:</h5>
  <textarea class="field" id="dayNotes" rows="4" style="min-width:100%" ng-model="dayNotes"></textarea>
  <button class="btn btn-primary" id="addSegmentButton" ng-click="createSegment()" ng-show="endSet">Save Segment</button>
  <!-- end datetime pickers -->
</div>
