<div class="row">
  <div class="col-lg-2">
    <h4>Blogs:</h4>
    <div class="list-group">
      <a ng-click="newBlogClick()" class="list-group-item list-group-item-action flex-column align-items-start blogItem" ng-class="blogClass(-1)">
	<div class="d-flex w-100 justify-content-between">
	  <h5 class="mb-1"><b>New Blog</b> <span class="pull-right"><i class="glyphicon glyphicon-plus"/></span></h5>	  
	</div>
      </a>
      
      <a ui-sref="blogsEditor.map.blog({blogId : blog.id})" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="blog in blogs" ng-class="blogClass($index)">
	<div class="d-flex w-100 justify-content-between">
	  <h5 class="mb-1"><b>{{ blog.title | limitTo:75 }}</b></h5>
	  <small><i>Posted on {{ formatTime($index) }}</i></small>
	</div>
	<p class="mb-1"> {{ extractContent($index) | limitTo:128 }}</p>
      </a>
    </div>
  </div>
  
  <div class="col-lg-9">

    <div ng-show="currentBlogIndex==-1">
      <h4>New Blog:</h4>
      
      <form class="form-inline">
	<label for="blogTitle">Title:</label>
	<div class="form-group">
	  <input type="text" id="title" size="100" name="blogTitle" ng-model="blogTitle" class="form-control">
	</div>
	<!-- rest of form -->
      </form>
      
      <br>
      <text-angular ng-model="blogHTML"></text-angular>
      <div class="btn-group">
	<button class="btn btn-disabled" ng-click="saveBlog()">Save</button>
	<button class="btn btn-default" >Save as Draft</button>
      </div>
    </div>
    
    <ui-view>  
    </ui-view>
    
  </div>
</div>
