<div class="row">
  <div class="col-lg-10">
    <br>
    <input type="file" id="file" name="file" multiple="multiple" style="display:none" onchange="angular.element(this).scope().fileSelectChange(this.files)"/>

    <span style="display:inline-block">
      <button class="btn btn-primary" type="button" ng-click="uploadClick()">
	<i style="font-size:20px" class="glyphicon glyphicon-cloud-upload"></i>
	<span>
	  <b>UPLOAD</b>
	</span>
      </button>
    </span>
    
    <span style="display:inline-block"> <--Click here to Upload Pictures!</span>

    <span style="display:inline-block;float:right">
      <button class="btn" ng-class="selectedPictures.length? 'btn-primary':'btn-disabled'" ng-click="deleteSelected()" ng-show="pictures.length">
	<span class="pull-left">
	  <b><ng-pluralize count="selectedPictures.length"
			   when="{'1': 'Delete Photo',
				 'other': 'Delete Photos'}">
	  </ng-pluralize></b>
	</span>
	<span class="badge pull-right">{{ selectedPictures.length }}</span>
      </button>
    </span>
    
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-1" style="display:inline-block;vertical-align:center;float:left">
    <!-- TODO GET THESE INLINE-->
    <button class="btn" ng-show="pictures.length>7"  ng-click="sliderGoLeft()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
  </div>

  <div class="col-lg-10" style="display:inline-block">
    <slick class="slider" ng-if="slickLoaded" settings="slideConfig">
      <div ng-repeat="picture in pictures"  ng-class="getPictureClass(picture.id)">
	<span class="pull-center">
	  <img ng-click="imgClick($index)" data-lazy="/www/user_media/{{ userId }}/{{ currentAdvId }}/{{ picture.album }}/.th/{{ picture.filename }}" style="width:150px;height:100px;margin:10px auto"/>
	</span>
      </div>
      <div ng-show="uploading" style="position:relative">
	<div style="padding-top:120px" us-spinner="{radius:30, width:8, length: 16,lines:15 }">	    
	</div>
      </div>
      
    </slick>
  </div>

  <div class="col-lg-1" style="display:inline-blick;vertical-align:center;float:right">
    <button class="btn" ng-show="pictures.length>7" ng-click="sliderGoRight()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</div>

<div class="row">    
  <div class="col-lg-8">
    <button class="btn btn-primary" ng-show="newTag && selectedPictures.length" ng-click="saveGeotag()">Save Geotag</button>
  </div>
</div>

<div class="row">    
  <div class="col-lg-7">
    <leaflet style="width:100%;height:400px;"></leaflet>
  </div>

  <div class="col-lg-5">
    <div ng-show="selectedPictures.length">
      <img ng-src="/www/user_media/{{userId}}/{{ currentAdvId }}/{{albumId}}/.mi/{{selectedPictures[selectedPictures.length-1].filename}}" width="550px"/>
    </div>
  </div>
</div>
