<div ng-show="isSegmentsVisible()" ng-hide="isSegmentsHidden()" ng-cloak>
  <hr>
  <h4>New Segment:</h4>
  <!--- datetime pickers -->
  <div class="dropdown form-group">
    <label>Start Date</label>
    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown">
      <div class="input-group date">
	<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" ng-class="{purple:startSet}"></i></span>
	<input type="text" class="form-control" data-ng-model="dateRangeStart">
	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="dateRangeStart"
		      data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
		      data-on-set-time="startDateOnSetTime()"
		      data-before-render="startDateBeforeRender($dates)"></datetimepicker>
    </ul>

  </div>

  Navigation Type:
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" ng-class="isNavLineActive()" ng-click="setLineActive()"><i class="fa fa-arrows-h" style="font-size:32px"></i></button>
    <button type="button" ng-class="isNavBikeActive()" ng-click="setBikeActive()"><i class="fa fa-bicycle" style="font-size:32px"></i></button>
    <button type="button" ng-class="isNavCarActive()"  ng-click="setCarActive()"><i class="fa fa-car" style="font-size:32px"></i></button>
  </div>
  <div ng-show="segmentDistance">
    Segment Distance : {{ getSegmentDistance() }}km
  </div>

  <div class="dropdown form-group">
    <label>End Date</label>
    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown">
      <div class="input-group date">
	<span class="input-group-addon" ng-click="deselectEndSet();$event.stopPropagation();">
	  <i class="glyphicon glyphicon-map-marker"  ng-class="{red:endSet}"></i>
	</span>
	<input type="text" class="form-control" data-ng-model="dateRangeEnd">
	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="dateRangeEnd"
		      data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
		      data-on-set-time="endDateOnSetTime()"
		      data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
    </ul>
  </div>

  <div class="form-group">
    <label for="dalaySelect">Delay:</label>
    <select class="selectpicker" id="delaySelect" ng-options="item as item.label for item in delayOptions track by item.value" ng-model="selectedDelayOption" ng\
	    -change="selectedDelayValue=selectedDelayOption.value">
    </select>
  </div>

  <hr>
  <h5>Day Notes:</h5>
  <textarea class="field" id="dayNotes" rows="6" style="min-width:100%" ng-model="dayNotes"></textarea>
  <button class="btn btn-primary" id="addSegmentButton" ng-click="createSegment()" ng-show="endSet">Save Segment</button>
  <!-- end datetime pickers -->
</div>


    
